In [10]:
# day4 of 30days-of-Jupyter
# Today we will see some basics of pandas library.
# pandas have two different data structure to work with data. Series and Dataframe.
# Today We will start from Series Data Structure.

In [11]:
import pandas as pd

# imported pandas as abbreviation pd

In [12]:
# we are using tuple to create series
# conversion of tuple into pandas Series
tupl = ('AA', '2012-02-01', 100, 10.2)
pd_series = pd.Series(tupl)
type(pd_series)

pandas.core.series.Series

In [13]:
print(pd_series)

0            AA
1    2012-02-01
2           100
3          10.2
dtype: object

In [14]:
# we are using dictionary to create series 
# conversion of dictionary into pandas Series
dict1 = {'name': 'Ashok','Age':10, 'class': 5}
pd_series1 = pd.Series(dict1)
type(pd_series1)

pandas.core.series.Series

In [15]:
print(pd_series1)

name     Ashok
Age         10
class        5
dtype: object

In [18]:
# we are using list ro create series 
# conversion of dictionary into pandas series
list1 = ['Facebook','2001',90,3.2]
pd_series2 = pd.Series(list1)
type(pd_series2)

pandas.core.series.Series

In [19]:
print(pd_series2)

0    Facebook
1        2001
2          90
3         3.2
dtype: object

In [20]:
# we can provide custom index names 
pd_series3 = pd.Series(list1,index = ['Name','Year','Shares','Price'])
print(pd_series3)

Name      Facebook
Year          2001
Shares          90
Price          3.2
dtype: object

In [21]:
# we can access elements of series using index
pd_series3['Price']

3.2

In [22]:
pd_series3[0]

'Facebook'

In [24]:
pd_series3[['Name','Year']]

Name    Facebook
Year        2001
dtype: object