In [17]:
# day5 of 30-Days-Of-Jupyter 
# Today we will see some basics of Pandas Dataframe 
# Dataframe is widely used data structure in Pandas.

In [18]:
import pandas as pd

In [19]:
# To create a DataFrame (df) from data we can simply use dictionary of equal list as follows
data = { 'Name'  : ['Amazon','IBM','FB'],
         'Date'  : ['2000','2012','2010'],
         'Shares': [100,90,60],
         'Price' : [12,23,13]
}

In [20]:
df = pd.DataFrame(data)
type(df)

pandas.core.frame.DataFrame

In [21]:
print(df)

     Name  Date  Shares  Price
0  Amazon  2000     100     12
1     IBM  2012      90     23
2      FB  2010      60     13

In [22]:
# dictionary keys represents the colunms label in DataFrame and data inside list store colunms data.
# row label automatically starts from 0 to n.
# But we can rename row label using index as follows.
df1 = pd.DataFrame(data,index=['One','Two','Three'])
print(df1)

         Name  Date  Shares  Price
One    Amazon  2000     100     12
Two       IBM  2012      90     23
Three      FB  2010      60     13

In [23]:
# Additional columns can be added after defining a DataFrame as below
df1['Sale'] = 'Unknown'
print(df1)

         Name  Date  Shares  Price     Sale
One    Amazon  2000     100     12  Unknown
Two       IBM  2012      90     23  Unknown
Three      FB  2010      60     13  Unknown

In [24]:
# Access data using column index
df1['Name']

One      Amazon
Two         IBM
Three        FB
Name: Name, dtype: object

In [26]:
# Acccess data using row index
df1.loc['One']

Name       Amazon
Date         2000
Shares        100
Price          12
Sale      Unknown
Name: One, dtype: object

In [27]:
# access all rows for a column
df1.loc[:,'Date']

One      2000
Two      2012
Three    2010
Name: Date, dtype: object

In [28]:
# Any column can be deleted of dataframe using 'del' command
del df1['Date']
df1

         Name  Shares  Price     Sale
One    Amazon     100     12  Unknown
Two       IBM      90     23  Unknown
Three      FB      60     13  Unknown

In [30]:
# Any column and row can be deleted using 'drop' command
df1.drop('Three')

       Name  Shares  Price     Sale
One  Amazon     100     12  Unknown
Two     IBM      90     23  Unknown